@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Poppins:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Outfit', sans-serif;
    background: linear-gradient(4deg, rgba(139,247,249,1) 10%, rgba(210,255,255,1) 50%, rgba(215,211,211,0.8) 90%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.container{
    max-width: 350px;
    margin: 0 auto;
}

.card{
    background-color: hsl(0, 0%, 100%);
    padding: 18px;    
    border-radius: 17px;
    text-align: center;
    margin: 0 1rem;
}

.card .imagem{
    width: 100%;
    border-radius: 12px;
}

.text{
    padding: 22px 10px;
}

.text h2{
    color: hsl(218, 44%, 22%);
    padding-bottom: 18px;
}

.text p{
    color: hsl(220, 15%, 55%);
}

.attribution{
    text-align: center;
    padding-top: 20px;
}